* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Playwrite IT Moderna", cursive;
    list-style: none;
    scroll-behavior: smooth;
    transition: 0.3s all ease;
}

:root {
    --main-color: #6c5cff;
    --white-color: white;
    --background-color: rgba(255, 255, 255, 0.2);
}

#bg-image {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

#bg-image img {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blur-section {
    position:relative;
    display: flex;
    flex-direction: column;
    height:150vh;
    background-color: rgba(8, 0, 26, 0.5);
    backdrop-filter: blur(7px);
}

#navigation-header {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding: 20px 0px 0px;
}

#navbar {
    z-index: 5;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: 70px;
    border: none;
    border-radius: 29px;
    align-items: center;
    justify-content: space-around;
    color: var(--main-color);
    background-color: var(--background-color);
    backdrop-filter: blur(7px);
}

#navbar-logo {
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    margin: 0px 0px 5px;
}

#navbar-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
    justify-content: space-around;

}

#navbar-link li a {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    margin: 0px 14px;

}

#navbar-link li a:hover {
    color: var(--main-color);
    font-size: 20px;
    margin: 0px 8px 20px 8px;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
}

.navbar-right li a i {
    height: auto;
    font-size: 30px;
    color: var(--main-color);
    padding: 0px 5px;

}

.navbar-right li a i:hover {
    color: var(--white-color);
}

#main-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin-top: 100px;
}

#about-section {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height:fit-content;
    padding: 10px 0px 30px;
}

.primary-heading {
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0px 0px 15px;
}

.intro-middle {
    font-size: 1.2rem;
    color: var(--white-color);
    padding: 0px 5%;
}


.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
}


.services-bottom-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 85%;
    height: fit-content;
    margin: 25px 0px 50px;
    padding: 20px 0px;
}

.services-bottom-card {
    display: flex;
    text-align: center;
    position: relative;
    width: 30%;
    height: 240px;
    margin: 20px 1%;
    overflow: hidden;
    border: none;
    border-radius: 15px;
    font-family: sans-serif;
    color: #ffffff;
}

.services-bottom-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-bottom-card-two a {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 600;
    padding: 0px 0px 10px;

}

.services-bottom-card-three {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: -100%;
    font-size: 1.06rem;
    font-weight: 400;
    font-family: sans-serif;
    padding: 2rem 1rem 0rem;
    background-color: rgba(25, 60, 155, 0.4);
    backdrop-filter: blur(5px);
    transition: .5s;
}

.services-bottom-card-para {
    font-weight: 500;
    padding: 10px 0px 10px;
}

.services-bottom-card-three button {
    margin: 1rem .5rem;
    font-size: 1.3rem;
}

.services-bottom-card:hover .services-bottom-card-three {
    bottom: 0;
}